name: reviewdog

on: pull_request

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: check out code
        uses: actions/checkout@v6

      - name: actionlint
        uses: reviewdog/action-actionlint@v1
        with:
          reporter: github-pr-review
          level: warning

  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: check out code
        uses: actions/checkout@v6

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          reporter: github-pr-review
          level: warning
